html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myfont;
    src: url(cuanky-demo.regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(Moglan_DEMO.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    background-color: #91918fb0;
}

nav {
    /* border: 2px solid red; */
    height: 3rem;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    font-family: myfont;
    padding: 10px;

}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f01000;
    text-shadow: .5px .5px 2px black;
}

a:hover {
    text-decoration: underline;
}

button {
    /* border: 2px solid black; */
    height: 2.2em;
    width: 6em;
    position: fixed;
    right: 2%;
    border: none;
    border-radius: 10em;
    background: #f01000;
    font-size: 1rem;
    color: #ffffff;
    font-family: myfont;
    font-weight: 100;
    margin-top: .5%;
}

button:hover {
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


#home {
    /* border: 2px solid blue; */
    height: 100vh;
    width: 100%;
}

#home h1 {
    font-family: myfont;
    font-size: 5rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-top: 5%;
    color: #ff1100;
    text-shadow: 2px 2px 10px black;
}

.text1 {

    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing-demo {
    width: 40ch;
    animation: typing 5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

h1 img {
    height: 100px;
    width: 100px;

}

.pizza1 img {
    height: 25em;
    width: 17em;
    /* box-shadow: 2px 2px 10px black; */
}

.pizza1 p {
    /* border: 2px solid blue; */
    margin-right: 30%;
    height: 40vh;
    width: 65%;
    font-family: font2;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 50%;
}





#best {
    /* border: 2px solid rgb(238, 0, 0); */
    height: 100vh;
    width: 100%;
}

#best p {
    font-family: font2;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
}

.best {
    font-family: myfont;
    color: #ff1100;
    font-size: 5rem;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

.general-container {
    display: flex;
    height: 21rem;
    margin: 3% auto;
    max-width: 55vw;
    width: 55vw;
}

.radio {
    display: none;
}

.content {
    background: transparent;
    background-image: url("pizza7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    cursor: pointer;
    flex: 1;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.05, 0.60, 0.39, 0.94);
}

.content::before {
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.content>* {
    position: relative;
    z-index: 1;
}

.content:hover {
    box-shadow: 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.3);
}

.content:nth-of-type(2) {
    background: transparent;
    background-image: url("pizza4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content:nth-of-type(3) {
    background: transparent;
    background-image: url("pizza5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content:nth-of-type(4) {
    background: transparent;
    background-image: url("ppizza6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-title {
    bottom: 1.2rem;
    color: #ffe4e4;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: font2;
    left: 1.5rem;
    line-height: 1.1;
    opacity: 0;
    position: absolute;
    transform: translateX(2rem);
    transition: 290ms cubic-bezier(0.05, 0.62, 0.40, 0.95) 300ms;
    transition-property: opacity, transform;
    user-select: none;
    white-space: nowrap;
}

.title-card {
    top: 2rem;
    color: #ffe4e4;
    font-family: font2;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    left: 1.5rem;
    line-height: 1.1;
    opacity: 0;
    position: absolute;
    transform: translateX(2rem);
    transition: 290ms cubic-bezier(0.05, 0.60, 0.42, 0.94) 300ms;
    transition-property: opacity, transform;
    user-select: none;
    white-space: nowrap;

}

.subtitle {
    font-size: 1rem;
}

.subsubtitle {
    font-size: 0.85rem;
}

.paddT {
    padding-left: 3rem;
    padding-right: 3rem;
}

.radio:checked+.content {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    flex: 9;
}

.radio:checked+.content>.card-title {
    opacity: 1;
    transform: translateX(0);
}

.radio:checked+.content>.title-card {
    opacity: 1;
    transform: translateX(0);
}

.marg-bott {
    margin-bottom: 1.5rem;
}




#pizzas {
    /* border: 2px solid rgb(238, 0, 0); */
    height: 100vh;
    width: 100%;
    
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-left: 25%;
    margin-top: 1%;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.bbq{
    height: 400px;
    width: 70%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}
